/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
 font-family: arial;
}
*{
	padding:0
	margin:0;
}
#wrapper{
 width: 960px;
 }
.header{
 height: 75px;
 width:950px;
 background-color: #f4f4f4;
}
.header h1{
	display:inline-block;
	margin-top: 20px;
	margin-left:10px;
}
.header h2{
	display:inline-block;
	margin-left:365px;
}
.main_content{
	background-color: blue;
	width:99%;
	height:700px;
}
.about img{
	width:300px;
	display: inline-block;
}
.about_info{
	width: 300px
	display:inline float: right;;
}
}
.footer{
	background-color: green;
	width:99%;
	height:75px;
}